<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Washington Socialist</title>
  </head>

  <body>
    <style>
      body {
        display: flex;
      }

      nav {
        flex: 1 1 auto;
        min-width: 20em;
      }

      main {
        flex: 3 1 auto;
      }
    </style>

    <nav><%- nav %></nav>
    <main><%- main %></main>

  </body>
</html>
